<footer class="ft" aria-label="Footer">
  <div class="container ft__wrap">
    <div class="ft__brand">
      <div class="ft__logo">VÉRIX</div>
      <div class="ft__tag">Crafting time. Defining scent.</div>
    </div>

    <div class="ft__cols">
      <div class="ft__col">
        <div class="ft__head">Explore</div>
        <a class="ft__link"  routerLink="/"  fragment="products">The Scent</a>
        <a class="ft__link"  routerLink="/"  fragment="vessel">The Bottle</a>
        <a class="ft__link"  routerLink="/"  fragment="offer">Offer</a>
        <a class="ft__link"  routerLink="/"  fragment="delivery">Delivery</a>
      </div>

      <div class="ft__col">
        <div class="ft__head">Support</div>
        <a class="ft__link" href="#">FAQ</a>
        <a class="ft__link" href="#">Authenticity</a>
        <a class="ft__link" href="#">Privacy</a>
        <a class="ft__link" href="#">Terms</a>
      </div>

      <div class="ft__col">
        <div class="ft__head">Connect</div>
        <div class="ft__social">
          <a class="ft__icon" href="https://ig.me/m/verix.signature" aria-label="Instagram">◎</a>
          <a class="ft__icon" href="#" aria-label="X">𝕏</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ft__bottom">
    <div class="container">
      © {{ year }} VÉRIX. All rights reserved.
    </div>
  </div>
</footer>
